@import url('https://fonts.cdnfonts.com/css/roboto');



/***
NavBar

#barra_navegacion {

    background: aquamarine;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    flex-direction: row;


}

#menu {
    display: flex;
    flex-direction: row;

}*/

#barra_navegacion {
    background: aquamarine;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    padding: 5px;
}

.logo {
    margin-right: auto;
}

#botonesmenu {
    display: flex;
    flex-direction: row;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menu li {
    margin-bottom: 10px;
    padding: 5px;
}

.menu_bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 20px; 
}

